body { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 800px;
    border: black solid; 
}

.display { 
    width: 600px; 
    height: 150px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 75px;
}

.keypad { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
}

button { 
    box-sizing: border-box;
    width: 150px;
    height: 150px; 
    font-size: large;
    background-color: grey;
    border-radius: 50%;
    border: none; 
}

button.operator { 
    box-sizing: border-box;
    width: 150px;
    height: 150px; 
    font-size: large;
    background-color: orange;
}

button:active { 
    background-color: lightgrey;
}

button.operator:active { 
    background-color: darkorange;
}